*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #8B0000;
    --secondary: #D4AF37;
    --accent: #FF9933;
    --backgorund: #FFF8E7;
    --text: #2C1810;
    --main-gradient-bg: linear-gradient(135deg, #8B0000 0%, #B22222 50%, #D4AF37 100%);
    --card-gradient-bg: linear-gradient(145deg, #FFF8E7, #F8E6B5);
    --box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

body{
    background: var(--backgorund);
    scroll-behavior: smooth;
    }
body::-webkit-scrollbar{
    display: none;
}
.menu-extension{
    background: #D4AF37;
    width: 150px;
    left: -150px;
    height: 500px;
    position: absolute;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: 0.4s ease;
    align-items: center;
}
.menu-extension.active{
    left: 0;
    z-index: 9999;
}
.tab{
    width: 76%;
}
.menu-img-box{
    margin-top: 30px;
    margin-bottom: 25px;
    height: 60px;
    width: 60px;
    border: 0.3px solid red;
    background-image: url(raamji.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.hero-box{
    height: 250px;
    width: 300px;
    border: 1px solid rgb(219, 210, 210);
    display: flex;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-left: 28px;
    margin-top: 20px;
    /* padding: 10%; */
    background-image: url(raamji.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    
    display: flex;
    align-items: center;
    background: var(--main-gradient-bg);
    color: rgb(241, 237, 235);
    height: 70px;
    box-shadow: var(--box-shadow);
}
.menu{
    width: 10%;
}
.heading{
    font-size: 23px;
    width: 80%;
    display: flex;
    justify-content: center;
}
.nav i{
    font-size: 2.8rem;
    
    margin-left: 8px;
}
.hero-section-about{
    background: rgba(255, 255, 255, 0.237);
    margin: 10px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
.scripts-box{ 
    gap: 40px;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
}
.scripts-box::-webkit-scrollbar{
    display: none;
}
.scrol-cards{
    display: flex;
    width: max-content;
    
}
.card-navratra{
    min-width: 200px;
    flex-shrink: 0;
    background: var(--main-gradient-bg);
    border-radius: 20px;
    margin: 20px;
    height: 290px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto;
    scroll-snap-align: center;
    box-shadow: var(--box-shadow);
}
.card-navratra h4{
    margin-top: 8px;
    color: rgb(200, 235, 124);
}
.btn-box button{
    width: 150px;
    padding: 10px;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.card-navratra:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0.0.0.0.3);
}
.img-box-navratra{
    width: 270px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
#day1-img{
    background: url(ND1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#day2-img{
    background: url(ND2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#day3-img{
    background: url(ND3.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
}
#day4-img{
    background: url(ND4.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
}
#day5-img{
    background: url(ND5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#day6-img{
    background: url(ND6.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
}
#day8-img{
    background: url(ND8.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
}
#day9-img{
    background: url(ND9.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
}

.upcomingEventsdetails{
    display: flex;
    flex-direction: column;
    padding: 20px;
     background: var(--card-gradient-bg);
    line-height: 1.8;
    min-height: 500px;
    margin: 10px;
    height: fit-content;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    box-shadow: var(--box-shadow);
   
}
.upcomingEventsdetails button{
    width: 150px;
    padding: 10px;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#eventNote{
    color: var(--text);
    font-size: 10px;
}

.text-box{
    background: var(--card-gradient-bg);
    margin-top: 10px;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}
.text-box h5{
    color: var(--accent);
    font-size: larger;
    margin-top: 17px;

}
.text-box p{
    font-size: large;
    margin-top: 10px;
    line-height: 30px;
}

/* footer styling */
.footer{
    background: linear-gradient(
        180deg,
        #7a0000,
        #4b0000
    );

    color:#FFF8E7;
    padding:40px 20px 20px;
    border-top:3px solid #D4AF37;
}
.footer-top{
    text-align:center;
    margin-bottom:30px;
}
.footer-top h2{
    color:#D4AF37;
    font-size:1.8rem;
    margin-bottom:10px;
}
.footer-top p{
    opacity:.9;
}
.footer-links{
    display:flex;
    justify-content:space-between;
    gap:30px;
    flex-wrap:wrap;
}
.footer-section{
    flex:1;
    min-width:220px;
}
.footer-section h3{
    color:#D4AF37;
    margin-bottom:15px;
}
.footer-section a{
    display:block;
    text-decoration:none;
    color:#FFF8E7;
    margin-bottom:10px;
    transition:.3s;
}
.footer-section a:hover{
    color:#D4AF37;
    transform:translateX(5px);
}
.footer-section p{
    line-height:1.8;
}
.footer-quote{
    text-align:center;
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,.15);
}
.footer-quote p{
    color:#D4AF37;
    font-style:italic;
}
.footer-bottom{
    text-align:center;
    margin-top:20px;
    font-size:.9rem;
    opacity:.8;
}
.sunderkand-card, .sangeetramayan-card{
    height: 450px;
    box-shadow: var(--box-shadow);
    margin: 10px;
    border-radius: 10px;
}

.sunderkand-card p, .sangeetramayan-card p{
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    line-height: 30px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container button{
    width: 300px;
    border: none;
    height: 40px;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    
}
.sunder-kand-img,.sangeetramayan-img{
    /* border: 1px solid var(--accent); */
     border-radius: 10px;
    height: 300px;
    width: 100%;
    background-image: url(sunderkand_thumbnail.jpeg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sangeetramayan-img{
    background-image: url(sangeet_ramayan_thumbnail.jpeg);
}

/* Youtube Card css */
.youtubeRefernces{
    padding: 10px;
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
.youtubeRefernces::-webkit-scrollbar{
    display: none;
}
.ytCard{
    flex-shrink: 0;
    /* border-radius: 20px; */
    /* margin: 20px; */
    border-radius: 8px;
    height: 400px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto;
    scroll-snap-align: center;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    
}
.ytCard p{
    margin-top: 18px;
    font-size: larger;
    color: var(--primary);
}
.ytCard-thumbnail-box{
    border-radius: 8px;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#yt-2025{
    background-image: url(thumbnail2025.jpeg);
}
#yt-2025-vivaah{
    background-image: url(thumbnail2025_vivaah.jpeg);
}
#yt-2024{
    background-image: url(thumbnail2024.jpeg);
}
#yt-2023{
    background-image: url(thumbnail2023.jpeg);
}
#yt-2022{
    background-image: url(thumbnail2022.jpeg);
}
#yt-2021{
    background-image: url(thumbnail2021.jpeg);
}
#yt-2019{
    background-image: url(thumbnail2019.jpeg);
}
#yt-2018{
    background-image: url(thumbnail2018.jpeg);
}
.ytButton-container button{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    font-size: 2rem;
    padding: 10px;
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media(max-width:768px){

    .footer-links{
        flex-direction:column;
    }

    .footer-top h2{
        font-size:1.5rem;
    }

}



/* .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
}

.center-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9999;

    width: 300px;
    max-width: 90vw;
    min-height: 150px;

    background: white;
    border-radius: 12px;
    padding: 20px;
} */
 /* .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
}

.center-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9999;

    width: 300px;
    max-width: 90vw;
    min-height: 150px;

    background: white;
    border-radius: 12px;
    padding: 20px;
} */
/* Roll Cards Overlay/popup box */
.roll-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
    align-items: center;
    justify-content: center;
}

/* Popup Box */
.roll-box {
    position: relative;
    z-index: 9999;
    width: 300px;
    max-width: 90vw;
    min-height: 150px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
/* Close (X) Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Optional hover effect */
.close-btn:hover {
    opacity: 0.7;
}



/* Content area */
.content {
    margin-top: 20px;
    
}
.content p{
    border-bottom: 2px solid var(--accent);
    min-height: 45px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

/*Countdown box styling*/
.countdown-card {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 22px;
    border-radius: 22px;
    background: linear-gradient(135deg,#8B0000 0%,#B22222 50%,#D4AF37 100%);
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0,0,0,0.18);
}
.countdown-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 18px;
}
.countdown-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.time-box {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(6px);
    border-radius: 14px;
    padding: 12px 5px;
}
.time-box span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}
.time-box small {
    font-size: 0.75rem;
}
.countdown-message {
    margin-top: 18px;
    font-size: 0.95rem;
}

/* Notice on site loading styling */
.notice-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.65);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    z-index:99999;
}
.notice-box{
    width:100%;
    max-width:500px;
    background:#fff;
    border-radius:18px;
    padding:22px;
    position:relative;
    box-sizing:border-box;
    max-height:80vh;
    overflow:auto;
}
.notice-box h3{
    margin:0 0 15px;
    text-align:center;
}
.notice-box p{
    line-height:1.7;
    font-size:15px;
}
.close-notice{
    position:absolute;
    top:12px;
    right:15px;
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
}
.notice-actions{
    display:flex;
    justify-content:space-between;
    margin-top:18px;
    flex-wrap:wrap;
    gap:10px;
}
.notice-link{
    cursor:pointer;
    color:#8B0000;
    text-decoration:underline;
    font-weight:600;
}

.gallery{
    width: 100%;
    padding: 10px;
}
.gallery-container{
    position:relative;
    width:100%;
    max-width:600px;
    overflow:hidden;
    border-radius:4px;
}
.gallery-container img{
    width:100%;
    display:block;
    border: 4px solid var(--accent);
    aspect-ratio:16/9;
    object-fit:cover;
    transition: all .4s ease;
}

.gallery-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:rgba(0,0,0,.5);
    color:#fff;
    font-size:20px;
    cursor:pointer;
}

.prev{
    left:10px;
}

.next{
    right:10px;
}
.highligh-caption{
    background: var(--accent);
    color: #fff;
    height: max-content;
    padding: 10px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.highligh-caption button{
    padding: 8px 12px;
    background: linear-gradient(135deg, #8B0000 0%, #B22222 50%);
    color: #fff;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:480px){
    .countdown-grid{
        gap:8px;
    }

    .time-box span{
        font-size:1.2rem;
    }

    .time-box small{
        font-size:.7rem;
    }
}

.contact-section{
    /* padding:80px 20px; */
    padding: 10px;
    display:flex;
    justify-content:center;
}

.contact-box{
    width:100%;
    max-width:750px;
    padding:40px 30px;
    text-align:center;
    border-radius:8px;
    background: var(--card-gradient-bg);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.12);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

.contact-icon{
    width:80px;
    height:80px;
    margin:auto;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:2rem;

    background:rgba(255,255,255,.12);

    margin-bottom:20px;
}

.contact-box h2{
    font-size:2rem;
    margin-bottom:15px;
}

.contact-box > p{
    line-height:1.8;
    max-width:550px;
    margin:0 auto 35px;
    opacity:.9;
}

.contact-links{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
    justify-content:center;
}

.contact-item{
    flex:1;
    min-width:260px;

    display:flex;
    align-items:center;
    gap:15px;

    padding:18px;

    text-decoration:none;
    color:inherit;

    border-radius:18px;

    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.08);

    transition:.3s ease;
}

.contact-item:hover{
    transform:translateY(-5px);
    background:rgba(255,255,255,.12);
}

.contact-item span{
    font-size:2rem;
}

.contact-item h4{
    margin:0;
    text-align:left;
}

.contact-item p{
    margin:4px 0 0;
    text-align:left;
    opacity:.85;
}

.contact-btn{
    display:inline-block;
    margin-top:35px;

    padding:14px 32px;

    text-decoration:none;
    color:#fff;

    font-weight:600;

    border-radius:999px;

    background:
    linear-gradient(
        135deg,
        #ff9933,
        #ff5722
    );

    box-shadow:
    0 10px 25px rgba(255,87,34,.35);

    transition:.3s ease;
}

.contact-btn:hover{
    transform:translateY(-3px) scale(1.03);
}

@media(max-width:600px){

    .contact-box{
        padding:30px 20px;
    }

    .contact-item{
        min-width:100%;
    }

    .contact-box h2{
        font-size:1.7rem;
    }
}
.flip-section {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Container */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Card base */
.flip-card {
  width: 100%;
  height: 300px;
  perspective: 1000px;
  opacity: 0;
  transform: translateY(30px);
  transition: 2s ease;
}

/* Scroll reveal */
.flip-card.show {
  opacity: 1;
  transform: translateY(0);
}

/* Inner */
.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

/* Flip toggle */
.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);
}

/* Front & Back */
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* Front */
.flip-front {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
}

/* Back */
.flip-back {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
  color: #000;
  transform: rotateY(180deg);
}
.front-img-box, .back-img-box{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ramji-cast{
    background-image: url(kuljit_mahal.jpeg);
}
#ramji-img{
    background-image: url(kuljit_ramji.png);
}
#lakshmanji-cast{
    background-image: url(harsh_jha.png);
}
#lakshmanji-img{
    background-image: url(harshjhalakshman.png);
}
#hanumanji-cast{
    background-image: url(sunderkand_thumbnail.jpeg);
}
#hanumanji-img{
    background-image: url(jivanlal_hanumanji.png);
}
#ravan-cast{
    background-image: url(gaurav_kaushal.png);
}
#ravan-img{
    background-image: url(gaurav_kaushal_ravan.png);
}
#kumbhkaran-cast{
    background-image: url(manga_pabla.jpeg);
}
#kumbhkaran-img{
    background-image: url(manga_pabla_kumbhkaran.png);
}
#meghnath-cast{
    background-image: url(sheeta_jassi.jpeg);
}
#meghnath-img{
    background-image: url(sheeta_jassi_meghnath.png);
}
/* ✨ Attention shake when user reaches section */
@keyframes cardHint {
  0% { transform: translateX(0); }
  20% { transform: translateX(-6px) rotate(-1deg); }
  40% { transform: translateX(6px) rotate(1deg); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.flip-card.hint {
  animation: cardHint 0.6s ease 1;
}